.formContainer {
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(209, 194, 194, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    position: relative;
    left: 500px;
    color: #000;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}