.formContainer {
    display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: row;
  gap: 16px;
  max-width: 800px; 
  margin: 90px; 
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-sizing: border-box; 
  background-color: #f9f9f9;
  position: relative;
  left: 200px;
   line-height: 4;
}

.iput{
width: 40px;
    
    position: absolute;


}

.formGroup{
    /* Hace que los elementos crezcan y se encojan según el espacio disponible, con un ancho base de 200px */
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    width: 750px;
    margin: 50;
    line-height: 3;
}

.btn{
    padding: 12px 24px;
    font-size: 16px; 
    font-family: Arial, sans-serif; 
    color: #fff; 
    background-color: #007bff; 
    border: 2px solid transparent; 
    border-radius: 8px;
    cursor: pointer; 
    position: relative;
    left: 300px;
}